<h2>Om vindsiden</h2>

        <p>
Ideen vår er å utvikle en vindstasjon som sender data til en internett server, via GSM nettet.
        </p>
Vi ønsker en stasjon som er så enkel som mulig, rimelig, ikke tilkoblet til en PC, kan drives med batteri og solcellepanel, og hvor softwaren er enkel å tilpasse.

Vindstasjonen vår består av deler som vi setter sammen:

En vindsensor fra Davis (anemometer modell 7911) og 1 ekstern temperaturmåler (luft eller vann).
En terminal fra Siemens (TC65) som gir tilkobling til internett.
Vindmålinger er tilgjengelige fra mobiltelefon (WAP eller internett). Stasjonen kan konfigureres fra internett og restartes/oppgraderes via SMS (OTAP).

Vårt prosjekt er ikke kommersielt, målingene distribueres fritt på internett.

Vi har ingen kommersiell produksjon av vindstasjonen, men gir gjerne ut en veiledning av hvordan den kan settes sammen.

Deltagere:
Christian Goulignac epost
Øyvind Bjørløw
Øystein Bjørke epost
Erik Mohn epost